
body {
    padding: 0px;
    margin: 0px;
}
.head_rectangle {
    position: absolute;
    width: 1571px;
    height: 943px;
    top: -43px;
    border: 1px 0px 0px 0px;
    border: 1px solid #D95583;
}
.inside_rectangle {
    position: absolute;
    width: 1440px;
    height: 900px;
    background: #242427;
    z-index: -3;
}
.sfera_image {
    position: absolute;
    width: 894px;
    height: 780px;
    top: 43px;
    left: 291px;
    z-index: -2;
}

.ellipse {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 263px;
    left: 560px;
}
.vector {
position: relative;
width: 113px;
height: 88.89px;
top: 388.71px;
left: 582px;
z-index: -1;
}

.vector_1 {
position: relative;
width: 93px;
height: 73px;
top: 236px;
left: 645px;
transform: rotate(90deg);
}

.vector_4 {
    position: relative;
    width: 61px;
    height: 63px;
    top: 353px;
    left: 590px;
    z-index: -1;
}